{% extends 'layout.html' %} {% load static %} {% block content %}
<div class="card inline-block w-75 mx-auto" style="border: none;">
    <div class="row">
        <div class="col-md-4">
            <img src="static/img/{{article.get_image_path}}" class=" card-image rounded-circle " width="300 " height="300 ">
            <p>
                {{article.get_image_path}}
            </p>
        </div>
        <div class="card-description col-md-8 p-3">
            <h2 class="card-head text-info text-center">
                {{ article.name }}
                </h2 ">
            <footer class="text-right p-1 mb-3 " style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">
                {{ article.created_date.date }}
            </footer>
            <a class="blcokquote text-justify ">
                    &emsp;{{ article.description}}
                <footer class="blockquote-footer text-right ">
                    {{article.author}}
                </footer>
        </div>
    </div>
</div>

<style>
    .card-design {
        border-style: solid;
        border-width: 3px;
        border-color: gray;
        border-radius: 50px;
    }
</style>
{% endblock %}