{% extends 'layout.html' %}{% load humanize %} {% block content %} {% if articles %}

<div class="inline-block w-75 mx-auto">
    {% for article in articles %}
    <div class="card card-design my-5 p-3 w-75 mx-auto">
        <h2 class="card-head text-center">
            <a class="text-info" style="text-decoration:none;" href=" {% url 'detail' article.slug %} ">
                {{ article.name }} 
            </a>
            </h2 ">
        <a class="blcokquote text-justify p-2 ">
                &emsp;{{ article.description |truncatewords:50 }}
            <footer class="blockquote-footer text-right ">
                {{article.author}} <br> {{ article.created_date | timesince }} before
            </footer>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="alert alert-warning ">
    <p>
        No Articles
    </p>
</div>
{% endif %}
<style>
    .card-design {
        border-style: solid;
        border-width: 3px;
        border-color: gray;
        border-radius: 50px;
    }
</style> {% endblock %}