{% extends 'layout.html' %} {% block content %} {% if articles %}
<div class="inline-block w-75 mx-auto">
    {% for article in articles %}
    <div class="card card-design my-5 p-3 w-75 mx-auto">
        <h1 class="card-head text-center"> {{ article.name }}</h1>
        <a class="blcokquote text-justify p-2">
            <h5>
                &emsp;{{ article.description }}
            </h5>
            <footer class="blockquote-footer text-right">
                {{article.author}} <br> {{ article.created_date }}
            </footer>
            </blockquote>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="alert alert-warning">
    <p>
        No Movies
    </p>
</div>
{% endif %}
<style>
    .card-design {
        border-style: solid;
        border-width: 3px;
        border-color: gray;
        border-radius: 50px;
    }
</style> {% endblock %}