{% extends 'layout.html' %} {% block content %}
<div class="aboutme w-50" style="float: left;">
    <h3 class="introducing mb-4 text-info">Who am i ?</h3>
    <p class="mb-5 w-75 ml-4">
        &emsp; Hi! I'm Tayyip Özer and i'm 20 years old. I'm from Turkey and I live in Ankara. I'm studying computer science in Muğla Sıtkı Koçman University. I love programming, taking pictures and sharing my ideas. <br><br> &emsp; So, you are on my
        blog now. It was a terrific experince to build this blog without any knowledge about how to build a website. This project is one of my self-learning projects. Also it includes my other projects on my github account. I hope it will be usefull for
        anyone who want to join geeks.<br><br> &emsp; I'm super curious guy and i'm greedy about programming. There are a lot more about it. It keeps developing.
    </p>
    <h3 class="myskills text-info">
        What am i working on ?
    </h3>
    <ul class="myskillss ml-4" style="list-style-type:circle;">
        <li class="mb-2">
            Python
            <ul>
                <li>
                    Django
                </li>
                <li>
                    Selenium
                </li>
                <li>
                    AI
                </li>
                <li>
                    Machine Learning
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Java
            <ul>
                <li>
                    Application Devolopment (Andorid Studio)
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Self-learning
            <ul>

                <li>
                    JavaScript
                </li>
                <li>
                    Css
                </li>
                <li>
                    MySQL
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="aboutme ml-auto w-50">
    <h3 class="introducing text-info">Future Ventures (Self-learning 2020 - 2021)</h3>
    <ul class="myskillss ml-4" style="list-style-type:circle;">
        <li class="mb-2">
            Python
            <ul>
                <li>
                    Tkinter
                </li>
                <li>
                    PyQt5
                </li>
                <li>
                    Machine Learning
                </li>
                <li>
                    AI
                </li>
                <li>
                    Image and Video Processing
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Java
            <ul>
                <li>
                    Application Devolopment (Andorid Studio)
                </li>
                <li>
                    Mobile Game Devolopment (Andorid Studio)
                </li>
            </ul>
        </li>
        <li class="mb-2">
            Programming Languages
            <ul>

                <li>
                    JavaScript
                </li>
                <li>
                    Css
                </li>
                <li>
                    C#
                </li>
            </ul>
        </li>
        <li>
            Arduino
        </li>
    </ul>
</div>
{% endblock %