{% extends 'layout.html'%} {% block content %} {% if softwares %}
<div class="table-responsive w-75 mx-auto">
    <table class="table border-bottom table-striped">
        <thead>
            <tr class="text-center text-info">
                <th> # </th>
                <th> Title </th>
                <th> Description </th>
                <th> Language </th>
                <th> Created at</th>
                <th> Size </th>
            </tr>
        </thead>

        <body>
            {% for software in softwares %}
            <tr class="text-center">
                <td>{{ software.id }}</td>
                <td>
                    <a class="text-dark" style="text-decoration-line:underline;" href="https://github.com/tayyipozr/{{ software.link_name }}" target="_blank"> {{ software.title }} </a></td>
                <td>{{ software.description }}</td>
                <td>{{ software.language }}</td>
                <td>{{ software.date }}</td>
                <td>{{ software.size }}</td>
            </tr>
        </body>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="alert alert-warning">
    <p>
        No Software
    </p>
</div>

{% endif %} {% endblock %}